.btn {
  padding: 10px 25px;
  border: 0;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;

  &--yellow {
    background-color: #ffcd33;
    color: #333333;
  }

  &--yellow:hover {
    background-color: #ffdd2d;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  }

  &--red {
    background-color: #e92824;
    color: #ffffff;
  }

  &--red:hover {
    background-color: #ff312d;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  }

  &--transparent {
    padding: 8px 25px;
    border: 2px solid #ffdd2d;
    color: #ffffff;
    font-weight: 300;
    box-sizing: border-box;
  }
}
