.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.nav__item {
  a {
    color: #9299a2;
  }

  a:hover {
    color: #333333;
  }

  @media (min-width: $tablet-width) {
    margin-left: 40px;
  }
}
