.page-header {
  @media (min-width: $desktop-width) {
    background-color: #ececec;
  }
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--nojs .page-header__toggle {
    opacity: 0;
  }

  &--nojs .main-nav--closed {
    display: block;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
  }

  @media (min-width: $desktop-width) {
    @include width-wrapper(1300px);
    padding: 10px 40px;
  }
}

.page-header__nav {
   @media (min-width: $tablet-width) {
    min-width: 600px;
    flex-grow: 1;
  }
}

.page-header__phone {
  text-align: center;
  color: #333333;

  a {
    display: block;
    color: #333333;
  }
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.page-header__btn-quesion {
  text-align: right;
   @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.page-header__logo-link {
  text-decoration: none;
}

.page-header__logo {
  width: 200px;
}

.page-header__logo-image {
  width: 33px;
  height: 37px;

  @media (min-width: $tablet-width) {
    margin-right: 6px;
    float: left;
    display: block;
    width: auto;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.page-header__logo-desc {

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    color: #333333;
  }
}

.page-header__toggle {
  z-index: 2;
  display: block;
  width: 25px;
  height: 18px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  outline: none;

  &:hover,
  &:active {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &--closed {
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--opened {
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-main__first-screen {
  @media (min-width: $tablet-width) {
    min-height: 300px;
  }
}
